{{errorMessage}}
<form>
  <div class="form-group">
  <label for="name">Name </label>
  {{input value=model.name classNames="form-control"}}
  <label for="name">Genre </label>
  {{input value=model.genre classNames="form-control"}}
  <label for="name">Description </label>
  {{input value=model.description classNames="form-control"}}
  <label for="name">Key </label>
  {{input value=model.key classNames="form-control"}}
  <label for="name">BPM </label>
  {{input value=model.bpm classNames="form-control"}}
  <label for="name">Price </label>
  {{input value=model.price classNames="form-control"}}
  </div>
  <button class="btn btn-info" {{action 'save'}}>Add Song</button>
</form>
