{{errorMessage}}
<form>
  <div class="form-group">
  <label for="name">Name </label>
  {{input value=model.name classNames="form-control"}}
  <label for="genre">Genre </label>
  {{input value=model.genre classNames="form-control"}}
  <label for="description">Description </label>
  {{input value=model.description classNames="form-control"}}
  <label for="key">Key </label>
  {{input value=model.key classNames="form-control"}}
  <label for="bpm">BPM </label>
  {{input value=model.bpm classNames="form-control"}}
  <label for="price">Price </label>
  {{input value=model.price classNames="form-control"}}
  </div>
  <div class="">
    <label for="upload">Upload Song File</label>
    <input type='file' id='file-field'/>
  </div>
  <button class="btn btn-info" {{action 'save'}}>Add Song</button>
</form>
