<div class="row clearfix">
  <div class="col-md-12">
    <h6>Track
      <audio src="{{model.track}}" preload="auto" controls>
        testtesttest
      </audio>
      <span class="pull-right"> <strong>Price: </strong>${{ model.price}}
        {{stripe-checkout
          name=model.name
          description=model.user
          amount=model.chargePrice
          action="processStripeToken"
        }}</span>
  </h6>
    <h2>{{model.name}}</h2>
    <h2>Artist</h2>
  </div>
  <div class="row clearfix">
    <div class="col-md-12">
      <div class="audio">
      <img src="http://polybonk.com/sites/default/files/audio/polybonk/liife/tonearm/Liife%20-%20Tonearm/waveform_330d.png">
      </div>
    </div>
  </div>
  <br>
  <div class="row clearfix">
    <div class="col-md-12">
      <table class="table">
        <tbody>
          <tr>
            <th>Key</th>
            <th>Description</th>
            <th>Genre</th>
            <th>BPM</th>
          </tr>
          <tr>
            <td>{{model.key}}</td>
            <td>{{model.description}}</td>
            <td>{{model.genre}}</td>
            <td>{{model.bpm}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
