<h4>{{ model.name }}</h4>

<strong>Genre: </strong>{{ model.genre}}
<br>
<strong>Key: </strong>{{ model.key}}
<br>
<strong>BPM: </strong>{{ model.bpm}}
<br>
<strong>Description: </strong>{{ model.description}}
<br>
<strong>Price: </strong>{{ model.price}}
{{outlet}}
